<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/main/resources/template/css/회원가입.css">
    <title>Document</title>
</head>
<body>
    <h1 class="jdevlist-text">JDevList</h1>
    <h1>Create your Account</h1>
    <h3>ID</h3>
    <div class="box">
        <!-- 네모 박스 내용 -->
        <input type="text" placeholder="Enter your ID">
    </div>
    <h3>Email Address</h3>
    <div class="box">
        <!-- 네모 박스 내용 -->
        <input type="text" placeholder="Enter your email">
    </div>
    <h3>Password</h3>
    <div class="box">
        <!-- 네모 박스 내용 -->
        <input type="password" placeholder="Enter your password">
    </div>
    <h6>Make sure it's at least <span class="highlighted-text">15 characters</span> or at least 8<br> characters including a number and a lowercase letter.</h6>
    <div class="box highlighted-box"><span class="highlighted2-text">Create Account</span></div>
</body>
</html>