<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/main/resources/template/css/SignIn.css">
  <title>JDevList Login Page</title>
</head>
<body>
  <header>
    <a href="#"><img src="/src/main/resources/template/img/logo/JDevList.svg" alt="LOGO" width="216px" height="63px"></a>
  </header>
  <div class="container">
    <div class="loginPage">
      <h1 class="title">Login</h2>
        <form action="/login" method="post">
          <div>ID</div>
            <input type="text" name="userID" class="form-Input">
          <div>Password</div>
            <input type="password" name="userPassword" class="form-input">
          <div id="form-btn">
            <input type="submit" value="Sign in">
          </div>
        </form>
    </div>
  </div>
</body>
</html>