#calendar {
    width: 100%;
}

nav {
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    width: 20%;
    height: 84.5vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 8px 10px -2px gray;
    overflow: hidden;
}

nav .create-Plan {
    width: 100%;
    height: 11.2%;
    padding-top: 5%;
    padding-left: 34%;
}
nav .create-Plan button {
    width: 100px;
    height: 55px;
    border: 0px;
    background-color: #1155CC;
    border-radius: 50px;
}
nav .create-Plan button:hover {
    transform: scale(1.12);
    transition: .7s;
}
nav .Plan-List {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden
}
nav .Plan-List .card {
    width: 95%;
    height: 25%;
    background-color: #E1D8ff;
    margin-bottom: 5%;
    border-radius: 25px;
}
nav .Plan-List .card .card-header {
    padding-left: 5%;
}
nav .Plan-List .card .card-body {
    padding-left: 5%;
}

nav .Plan-List .card .card-body .content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container .createPlan-wrap {
    width: 25%;
    height: 84.5vh;
    margin-top: 1%;
    margin-right: 1%;
    background-color: #ffffff;
    /* javascript 로 버튼을 눌러 display:block으로 바꾸기 */
    display: block;
    border-radius: 15px 15px;
    box-shadow: 0px 8.5px 10px -2px #707070;
}

.container .createPlan-wrap form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container .createPlan-wrap form .title {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    padding-top: 1.5%;
}
.container .createPlan-wrap form .title input {
    width: 95%;
    height: 5vh;
}
.container .createPlan-wrap form .dateTime {
    width: 100%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 5%;
}
.container .createPlan-wrap form .dateTime .DateTime input {
    width: 90%;
    height: 3.5vh;
}
.container .createPlan-wrap form .memo textarea {
    width: 21.5vh;
    height: 50vh;
    resize: none;
}
.container .createPlan-wrap form .submit {
    margin-left: 5%;
    width: 25%;
    height: 4.5vh;
    border: 0px;
    border-radius: 15px;
    background-color: #1155CC;
    color: white;
    font-size: 20px;
}