@font-face {
    font-family: 'Pretendard-variable';
    src: url(../img/font/PretendardVariable.ttf);
}
/* 초기 세팅 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Pretendard-variable';
}

.Logo {
    width: 100%;
    height: 10vh;
    display: flex;
}
.Logo img {
    width: 14%;
    height: 10vh;
    padding-left: 50px;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .create-wrap {
    width: 25%;
    height: 55vh;
    border: 2px solid #1155CC;
    border-radius: 50px;
    box-shadow: 8px 10px 10px -2px #707070;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .create-wrap .title {
    font-size: 30px;
    padding-bottom: 5vh;
    color: #1155CC;
}
.container .create-wrap form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .create-wrap form .form-title {
    margin-bottom: 5px;
    font-size: 22px;
    color: #1155CC;
}
.container .create-wrap form .form-input {
    margin-bottom: 6%;
    width: 85%;
    height: 4.5vh;
    border: 1px solid #1155CC;
    border-radius: 15px;
}
.container .create-wrap form input[type="text"] { padding-left: 10px; }
.container .create-wrap form input[type="password"] { padding-left: 10px; }
.container .create-wrap form input[type="email"] { padding-left: 10px; }

.container .create-wrap form .form-submit {
    width: 85%;
    height: 4.5vh;
    border: none;
    border-radius: 15px;
    background-color: #1155CC;
    color: #FFFFFF;
    font-size: 20px;
}
.container .create-wrap form .form-submit:hover {
    background-color: #0b2863;
}

