<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/회원가입.css">
    <title>Document</title>
</head>
<body>
    <h1 class="jdevlist-text">JDevList</h1>
    <h1>계정 만들기</h1>
    <form action="#" method="post">
        <h3>아이디</h3>
        <div class="box">
            <!-- 네모 박스 내용 -->
            <input type="text" placeholder="아이디를 입력하세요.">
        </div>
        <h3>이메일 주소</h3>
        <div class="box">
            <!-- 네모 박스 내용 -->
            <input type="text" placeholder="이메일 주소를 입력하세요.">
        </div>
        <h3>비밀번호</h3>
        <div class="box">
            <!-- 네모 박스 내용 -->
            <input type="password" placeholder="비밀번호를 입력하세요.">
        </div>
        <h6>문자만 사용한다면 적어도 <span class="highlighted-text">15자 이상</span> 또는 숫자를 포함하여 <br> 적어도 8자 이상이어야 합니다.</h6>
        <div class="box highlighted-box"><span class="highlighted2-text">계정 만들기</span></div>
    </form>
</body>
</html>