<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/회원가입.css">
    <title>JDevList CreatedAccount</title>
</head>
<body>
    <div class="Logo">
        <img src="../static/img/logo/JDevList.svg" alt="로고">
    </div>
    <div class="container">
        <div class="create-wrap">
            <div class="title">
                <h1>계정 만들기</h1>
            </div>
            <form method="post" id="form">
                <div class="form-title">
                    이름
                </div>
                <input type="text" name="name" placeholder="Name" class="form-input">
                <div class="form-title">
                    비밀번호
                </div>
                <input type="password" name="password" placeholder="Password" class="form-input">
                <div class="form-title">
                    이메일
                </div>
                <input type="email" name="email" placeholder="example@example.com" class="form-input">
                <div></div>

                <button type="submit" class="form-submit">계정 만들기</button>
            </form>
        </div>
    </div>

    <script>
        const form = document.getElementById('form');

        form.addEventListener('submit', (event) => {
            event.preventDefault();

            const payload = new FormData(form);
            const data = Object.fromEntries(payload)

            fetch("/api/v1/auth/signup", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(() => {
                alert('회원가입을 성공하셨습니다.')
                location.replace("/")
            }).catch((err) => {
                alert('회원가입을 성공 못했습니다...')
            })
        })
    </script>
</body>
</html>