<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/main.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/DashBoard.css">
    <title>JDevList Calendar</title>
</head>
<body>
    <!-- 헤더 영역 -->
    <header>
        <a href="#"><img src="../static/img/logo/JDevList.svg" alt="로고" class="logo"></a>
        <div class="search">
            <!-- action는 추후에 백엔드가 개발되면 링크 삽입 -->
            <form action="#" method="get">
                <!-- placeholder 추후에 바뀔수 있음. -->
                <input type="text" name="t" placeholder="검색어를 입력하세요.">
            </form>
        </div>
        <div class="user-profile">
            <a href="#"><p>User Nickname</p></a>
        </div>
    </header>
    <div class="container">
        <!-- 사이드 바 영역 -->
        <aside class="side-bar">
            <ul>
                <li>
                    <a href="DashBoard.html">
                        <img src="../static/img/icon/dashboard.svg" alt="dashboard">
                        <p>대쉬보드</p>
                    </a>
                </li>
                <li>
                    <a href="Calendar.html">
                        <img src="../static/img/icon/calendar.svg" alt="Calendar">
                        <p>캘린더</p>   
                    </a>
                </li>
                <li>
                    <a href="RoadMap.html">
                        <img src="../static/img/icon/map.svg" alt="RoadMap">
                        <p>로드맵</p>
                    </a>
                </li>
                <li>
                    <a href="discussions.html">
                        <img src="../static/img/icon/comment.svg" alt="Discussion">
                        <p>질문 게시판</p>
                    </a>
                </li>
                <li>
                    <a href="Notes.html">
                        <img src="../static/img/icon/note.svg" alt="Notes">
                        <p>노트</p>
                    </a>
                </li>
                <li>
                    <a href="Help.html">
                        <img src="../static/img/icon/help.svg" alt="Help">
                        <p>도움말</p>
                    </a>
                </li>
            </ul>
        </aside>
        <!-- 메인 컨텐츠 영역 -->
        <div class="main-container">
            <div class="wrapBox">
                <h1>Tasks</h1>
                <div class="Tasks"></div>
            </div>
            <div class="wrapBox">
                <h1>Road Map</h1>
                <div class="RoadMap"></div>     
            </div>
        </div>
        <div class="wrapBox2">
            <h1>Calendar</h1>
            <div class="Calendar" id="calendar">
            </div>
        </div>
    </div>
    <script src="../static/calendar.js"></script>
</body>
</html>