<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/Discussions.css">
    <title>JDevList Discussions</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<!-- 헤더 영역 -->
<header>
    <a href="#"><img src="../static/img/logo/JDevList.svg" alt="로고" class="logo"></a>
    <div class="search">
        <!-- action는 추후에 백엔드가 개발되면 링크 삽입 -->
        <form action="#" method="get">
            <!-- placeholder 추후에 바뀔수 있음. -->
            <input type="text" name="t" placeholder="검색어를 입력하세요.">
        </form>
    </div>
    <div class="user-profile">
        <a href="#"><p id="username">User Nickname</p></a>
    </div>
</header>
<div class="container">
    <!-- 사이드 바 영역 -->
    <aside class="side-bar">
        <ul>
            <li>
                <a href="#">
                    <img src="../static/img/icon/dashboard.svg" alt="dashboard">
                    <p>대쉬보드</p>
                </a>
            </li>
            <li>
                <a href="/calendar">
                    <img src="../static/img/icon/calendar.svg" alt="Calendar">
                    <p>캘린더</p>
                </a>
            </li>
            <li>
                <a href="/roadMap">
                    <img src="../static/img/icon/map.svg" alt="RoadMap">
                    <p>로드맵</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../static/img/icon/comment.svg" alt="Discussion">
                    <p>질문 게시판</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../static/img/icon/note.svg" alt="Notes">
                    <p>노트</p>
                </a>
            </li>
            <li>
                <a href="/help">
                    <img src="../static/img/icon/help.svg" alt="Help">
                    <p>도움말</p>
                </a>
            </li>
        </ul>
    </aside>
    <!-- 메인 컨텐츠 영역 -->
    <section id="discussion-wrap">
        <h2>Discussions</h2>

        <div id="content_top">
            <!--상단부분 : 입력칸, 버튼-->
            <div id="inputboxes">
                <!--검색창, 태그 검색창-->
                <div>
                    <!--                        <img src="../static/img/icon/search.svg">-->
                    <img src="../static/img/icon/search.svg">
                    <input type="text" id="searchQuestionInput" name="searchQuestion" placeholder="궁금한 질문은 검색하세요!">
                </div><div>
                <!--                        <img src="../static/img/icon/filter.svg">-->
                <img src="../static/img/icon/filter.svg">
                <input type="text" id="searchQuestionWithTagInput" name="searchQuestionWithTag" placeholder="태그로 검색하세요!">
            </div>
            </div>
            <div id="buttons">
                <!--Search, Reset, Ask 버튼-->
                <button id="searchButton" onclick="Search()">Search</button>
                <button id="resetButton" onclick="Reset()">Reset</button>
                <button id="askButton" onclick="AskQuestion()">Ask Question</button>
            </div>
        </div>
        <hr>
        <div id="content_bottom">
            <!--하단부분 : 게시글-->
            <ul id="board_list">
            </ul>
        </div>
    </section>
</div>
<script th:inline="javascript">
    var username = sessionStorage.getItem('username');
    document.getElementById("username").innerHTML=username;
    if (username==null){
        window.location.href = "/"
    }
    var board = new Board();
    var savedData;
    const searchBox = document.getElementById("searchQuestionInput");
    const tagBox = document.getElementById("searchQuestionWithTagInput");
    function AskQuestion(){ //AskQuestion 버튼
        window.location.href = 'AskQuestion';
    }
    function Search(){ //Search 버튼
        var keyword = searchBox.value;
        var subKeyword = tagBox.value;
        ClearBoard();
        for (let i=0; i< savedData.length; i++){
            if(savedData[i].dcs_title.includes(keyword) && savedData[i].cate_content.includes(subKeyword)){
                board.questions.unshift(savedData[i]);
                console.log("검색됨");
                console.log(savedData[i]);
            }
        }

        const ul = document.getElementById("board_list");
        for(let i=board.questions.length-1; i>=0; i--){
            let li = document.createElement("li");
            let first_div = document.createElement("div");
            first_div.className = "question";
            let first_p = document.createElement("p");
            first_p.className = "title";
            first_p.textContent = board.questions[i].dcs_title;
            let second_p = document.createElement("p");
            second_p.className = "subtitle";
            second_p.textContent = board.questions[i].dcs_content;

            let second_div = document.createElement("div")
            second_div.className="tags";

            let third_div = document.createElement("div")
            third_div.textContent = board.questions[i].cate_content;

            ul.appendChild(li);
            li.appendChild(first_div)
            first_div.appendChild(first_p);
            first_div.appendChild(second_p);
            first_div.appendChild(second_div);
            second_div.appendChild(third_div);

            first_div.addEventListener('click', function(){
                const requestBody = {
                    comment_title: board.questions[i].dcs_title,
                    comment_content: board.questions[i].dcs_content,
                    username: board.questions[i].username
                };

                console.log(JSON.stringify(requestBody));
                fetch('/questionClick', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('데이터를 서버로 전송했습니다.');
                            window.location.href = "LoadedQuestion"
                        }
                    })
                    .catch(error => {
                        console.error('데이터 전송 중 오류 발생: ' + error);
                    });
            });
        }
    }
    function Reset(){ //Reset 버튼
        searchBox.value = "";
        tagBox.value = "";
        ClearBoard();
        for (let i=0; i< savedData.length; i++){
            board.questions.unshift(savedData[i]);
        }
        const ul = document.getElementById("board_list")

        for(let i=board.questions.length-1; i>=0; i--){
            let li = document.createElement("li");
            let first_div = document.createElement("div");
            first_div.className = "question";
            let first_p = document.createElement("p");
            first_p.className = "title";
            first_p.textContent = savedData[i].dcs_title;
            let second_p = document.createElement("p");
            second_p.className = "subtitle";
            second_p.textContent =savedData[i].dcs_content;

            let second_div = document.createElement("div")
            second_div.className="tags";

            let third_div = document.createElement("div")
            third_div.textContent = savedData[i].cate_content;

            ul.appendChild(li);
            li.appendChild(first_div)
            first_div.appendChild(first_p);
            first_div.appendChild(second_p);
            first_div.appendChild(second_div);
            second_div.appendChild(third_div);

            first_div.addEventListener('click', function(){
                const requestBody = {
                    comment_title: savedData[i].dcs_title,
                    comment_content: savedData[i].dcs_content,
                    username: savedData[i].username
                }; //request 괄호

                console.log(JSON.stringify(requestBody));
                fetch('/questionClick', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                }) //fetch 괄호
                    .then(response => {
                        if (response.ok) {
                            console.log('데이터를 서버로 전송했습니다.');
                            window.location.href = "LoadedQuestion"
                        }
                    }) //response괄호
                    .catch(error => {
                        console.error('데이터 전송 중 오류 발생: ' + error);
                    }); //catch괄호
            });//이벤트 리스너
        }
    }

    function ClearBoard(){
        const ul = document.getElementById("board_list");
        board.questions = [];
        while(ul.firstChild){
            ul.removeChild(ul.firstChild);
        }
    }
    document.addEventListener("DOMContentLoaded", function(){
        var data = [[${data}]];
        data = JSON.parse(data);
        savedData = data;
        for (let i=0; i< data.length; i++){
            board.questions.unshift(data[i]);
        }
        const ul = document.getElementById("board_list")

        for(let i=board.questions.length-1; i>=0; i--){ //질문 수만큼 생성
            let li = document.createElement("li");
            let first_div = document.createElement("div");
            first_div.className = "question";
            first_div.id = data[i].dcs_id;
            let first_p = document.createElement("p");
            first_p.className = "title";
            first_p.textContent = data[i].dcs_title;
            let second_p = document.createElement("p");
            second_p.className = "subtitle";
            second_p.textContent = data[i].dcs_content;

            let second_div = document.createElement("div")
            second_div.className="tags";

            let third_div = document.createElement("div")
            third_div.textContent = data[i].cate_content;

            ul.appendChild(li);
            li.appendChild(first_div)
            first_div.appendChild(first_p);
            first_div.appendChild(second_p);
            first_div.appendChild(second_div);
            second_div.appendChild(third_div);

            first_div.addEventListener('click', function(){
                const requestBody = {
                    comment_title: savedData[i].dcs_title,
                    comment_content: savedData[i].dcs_content,
                    username: savedData[i].username
                }; //request 괄호

                console.log(JSON.stringify(requestBody));
                fetch('/questionClick', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                }) //fetch 괄호
                    .then(response => {
                        if (response.ok) {
                            console.log('데이터를 서버로 전송했습니다.');
                            window.location.href = "LoadedQuestion"
                        }
                    }) //response괄호
                    .catch(error => {
                        console.error('데이터 전송 중 오류 발생: ' + error);
                    }); //catch괄호
            });//이벤트 리스너
        }
    });

    function Board(){ //질문들을 저장하는 보드 객체
        this.questions = []; //리스트에 질문을 담음
    }
    function Question(title, content, tag){ //질문 객체
        this.title = title; //질문 제목
        this.content = content; //질문 내용
        this.tag = tag; //질문 태그 (리스트로 받을 예정)
        this.username = "";
    }

</script>

</body>
</html>