<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/discussions.css">
    <title>JDevList Discussions</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
    <!-- 헤더 영역 -->
    <header>
        <a href="#"><img th:src="@{/img/logo/JDevList.svg}" alt="로고" class="logo"></a>
        <div class="search">
            <!-- action는 추후에 백엔드가 개발되면 링크 삽입 -->
            <form action="#" method="get">
                <!-- placeholder 추후에 바뀔수 있음. -->
                <input type="text" name="t" placeholder="검색어를 입력하세요.">
            </form>
        </div>
        <div class="user-profile">
            <a href="#"><p>User Nickname</p></a>
        </div>
    </header>
    <div class="container">
        <!-- 사이드 바 영역 -->
        <aside class="side-bar">
            <ul>
                <li>
                    <a href="#">
                        <img th:src="@{/img/icon/dashboard.svg}" alt="dashboard">
                        <p>대쉬보드</p>
                    </a>
                </li>
                <li>
                    <a href="Calendar.html">
                        <img th:src="@{/img/icon/calendar.svg}" alt="Calendar">
                        <p>캘린더</p>   
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img th:src="@{/img/icon/map.svg}" alt="RoadMap">
                        <p>로드맵</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img th:src="@{/img/icon/comment.svg}" alt="Discussion">
                        <p>질문 게시판</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img th:src="@{/img/icon/note.svg}" alt="Notes">
                        <p>노트</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img th:src="@{/img/icon/help.svg}" alt="Help">
                        <p>도움말</p>
                    </a>
                </li>
            </ul>
        </aside>
        <!-- 메인 컨텐츠 영역 -->
        <section id="discussion-wrap">
            <h2>Discussions</h2>

            <div id="content_top">
                <!--상단부분 : 입력칸, 버튼-->
                <div id="inputboxes">
                    <!--검색창, 태그 검색창-->
                    <div>
<!--                        <img src="../static/img/icon/search.svg">-->
                        <img th:src="@{/img/icon/search.svg}">
                        <input type="text" id="searchQuestionInput" name="searchQuestion" placeholder="궁금한 질문은 검색하세요!">
                    </div><div>
<!--                        <img src="../static/img/icon/filter.svg">-->
                            <img th:src="@{/img/icon/filter.svg}">
                        <input type="text" id="searchQuestionWithTagInput" name="searchQuestionWithTag" placeholder="태그로 검색하세요!">
                    </div>
                </div>
                <div id="buttons">
                    <!--Search, Reset, Ask 버튼-->
                    <button id="searchButton" onclick="Search()">Search</button>
                    <button id="resetButton" onclick="Reset()">Reset</button>
                    <button id="askButton" onclick="AskQuestion()">Ask Question</button>
                </div>
            </div>
            <hr>
            <div id="content_bottom">
                <!--하단부분 : 게시글-->
                <ul id="board_list">
                </ul>
            </div>
        </section>
    </div>
    <script th:src="@{/discussions.js}"></script>
</body>
</html>