<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/FrontRm.css">
    <title>JDevList Calendar</title>
</head>
<body>
    <!-- 헤더 영역 -->
    <header>
        <a href="#"><img src="../static/img/logo/JDevList.svg" alt="로고" class="logo"></a>
        <div class="search">
            <!-- action는 추후에 백엔드가 개발되면 링크 삽입 -->
            <form action="#" method="get">
                <!-- placeholder 추후에 바뀔수 있음. -->
                <input type="text" name="t" placeholder="검색어를 입력하세요.">
            </form>
        </div>
        <div class="user-profile">
            <a href="#"><p>User Nickname</p></a>
        </div>
    </header>
    <div class="container">
        <!-- 사이드 바 영역 -->
        <aside class="side-bar">
            <ul>
                <li>
                    <a href="#">
                        <img src="../static/img/icon/dashboard.svg" alt="dashboard">
                        <p>대쉬보드</p>
                    </a>
                </li>
                <li>
                    <a href="Calendar.html">
                        <img src="../static/img/icon/calendar.svg" alt="Calendar">
                        <p>캘린더</p>   
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/img/icon/map.svg" alt="RoadMap">
                        <p>로드맵</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/img/icon/comment.svg" alt="Discussion">
                        <p>질문 게시판</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/img/icon/note.svg" alt="Notes">
                        <p>노트</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/img/icon/help.svg" alt="Help">
                        <p>도움말</p>
                    </a>
                </li>
            </ul>
        </aside>
        <!-- 메인 컨텐츠 영역 -->
        <section id="RoadMap">
            <div class="main-container">
                    <div>
                        <h1>Frontend 로드맵</h1>
                    </div>
                    
                    <div>
                        <h3>Step 1. 인터넷</h3>
                    </div>
                    <div class="wrapBox">
                        <div class="box">
                            <a href="https://cs.fyi/guide/how-does-internet-work">
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="인터넷의 작동 방식">
                            </a>
                        </div>
                        <div class="box">
                            <a href="https://cs.fyi/guide/http-in-depth">
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="HTTP는 무엇인가요?">
                            </a>
                        </div>
                        <div class="box">
                            <a href="https://developer.mozilla.org/en-US/docs/Learn/Common_questions/Web_mechanics/What_is_a_domain_name">
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="도메인 이름이란?">
                            </a>
                        </div>
                        <div class="box">
                            <a href="https://www.youtube.com/watch?v=htbY9-yggB0"> 
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="호스팅이란?">
                            </a>
                        </div>
                        <div class="box">
                            <a href="https://www.cloudflare.com/en-gb/learning/dns/what-is-dns/">
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="DNS의 작동 방식">
                            </a>
                        </div>
                        <div class="box">
                            <a href="https://web.dev/articles/howbrowserswork?hl=ko">
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="브라우저의 작동 방식">
                            </a>
                        </div>
                    </div>
                        
                    <div>
                        <h3>Step 2. HTML</h3>
                    </div>
                    <div class="wrapBox">
                        <div class="box">
                            <a href="https://www.w3schools.com/html/html_intro.asp">
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="HTML 기본기">
                            </a>
                        </div>  
                        <div class="box">
                            <a href="https://cs.fyi/guide/writing-semantic-html">
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="시맨틱 HTML">
                            </a>
                        </div>                 
                        <div class="box">
                            <a href="https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation">
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="양식 및 유효성 검사">
                            </a>
                        </div>            
                        <div class="box">
                            <a href="https://www.w3.org/WAI/tips/developing/">
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="접근성">
                            </a>
                        </div>
                        <div class="box">
                            <a href="https://developers.google.com/search/docs?hl=ko">                           
                                <!-- 네모 박스 내용 -->
                                <input type="button" value="SEO 기초">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>