<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>JDevList</title>
</head>
<body>
    <header>
        <a href="#"><img src="../static/img/logo/JDevList.svg" alt="로고" class="logo"></a>
        
        <div class="header-actions">
            <div class="header-action">
                <a href="http://127.0.0.1:5501/src/main/resources/templates/login.html">
                    <input class="login" type="button" value="로그인">
                </a>
            </div>
            <div class="header-action">
                <a href="http://127.0.0.1:5501/src/main/resources/templates/createdAccount.html">
                    <input type="button" value="회원가입">
                </a>
            </div>
        </div>
        
        
    </header>
    <section>
        <div class="container">
            <h1>Daelim University Team Project</h1>
            <h3>저희가 만든 JDevList에 오신 것을 환영합니다.</h3>
            <h4>이 웹페이지는 여러분의 공부를 도와드리기 위해 만들어졌습니다.</h4>
        </div>
    </section>
        
</body>
</html>