<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/SignIn.css">
  <title>JDevList Login Page</title>
</head>
<body>
  <header>
    <a href="#"><img src="../static/img/logo/JDevList.svg" alt="LOGO" width="216px" height="63px"></a>
  </header>
  <div class="container">
    <div class="loginPage">
      <h1 class="title">로그인</h1>
        <!-- action는 추후에 백엔드가 개발되면 링크 삽입 -->
        <form method="post" id="form">
          <div class="tag-name">이메일</div>
            <input type="email" name="email" class="form-Input">
          <div class="tag-name">비밀번호</div>
            <input type="password" name="password" class="form-input">
          <div id="form-btn">
            <button type="submit">로그인</button>
          </div>
        </form>
        <a href="/signUp" class="create-account"><p>회원가입 하러 가기</p></a>
    </div>
  </div>

  <script>
    const form = document.getElementById('form')

    form.addEventListener('submit', (event) => {
      event.preventDefault();

      const payload = new FormData(form);
      const data = Object.fromEntries(payload)

      fetch('/api/v1/auth/signin', {
          method: 'POST',
          headers: {
            'Content-Type' : 'application/json'
          },
          body: JSON.stringify(data)
      }).then(() => {
          location.replace("/calendar")
      }).catch(() => {
        alert('로그인 실패 했습니다.')
      })
    })
  </script>
</body>
</html>