.box{
    width: 300px; /* 네모 박스의 가로 크기 */
    height: 40px; /* 네모 박스의 세로 크기 */
    color: #1155cc;
    background-color: white;
    border: 2px solid #1155cc; /* 테두리 추가 */
    border-radius: 15px; /* 둥근 테두리를 위한 값 */
    margin: 5px auto; /* 가운데 정렬을 위한 값 */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    margin-top: 20px;
}
.box input{
    width: 300px; /* 네모 박스의 가로 크기 */
    height: 40px; /* 네모 박스의 세로 크기 */
    font-size: 20px;
    color: #1155cc;
    background-color: white;
    border: 2px solid #1155cc; /* 테두리 추가 */
    border-radius: 15px; /* 둥근 테두리를 위한 값 */
    margin: 5px auto; /* 가운데 정렬을 위한 값 */
}
.box input:hover {
    background-color: lightgray;
}
.main-container {
    width: 80%;
    margin: 0 auto; /* 중앙 정렬을 위한 추가된 스타일 */
    padding: 20px;
    box-sizing: border-box; /* 패딩과 테두리가 너비에 포함되도록 설정 */
    height: 45vh; /* 높이를 100vh로 설정하여 뷰포트의 전체 높이를 차지하도록 설정 */
}
#RoadMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-top: 1.0%;
    width: 81%;
    height: 84.5vh;
    background-color: #ffffff;
}

#RoadMap h1 {
    text-align: center;
    padding: 25px;
    margin: 0;
    font-size: 40px;
}
